
  <!DOCTYPE html>
  <html>
    <head>
      <% include head.ejs %>
    </head>
    <body>

      <h1> <%=title%> - <%=pageID%> </h1>
      <h3> Welcome to Gabble </h3>

      <a href="/login"> login </a>
      <br>
      <a href="/register"> register </a>

    </body>
  </html>
