
  <!DOCTYPE html>
  <html>
    <head>
      <% include head.ejs %>
    </head>
    <body>

      <h1> <%=title%> - <%=pageID%> </h1>

      <p> You have succesfully logged out </p>
      <p> return to<a href="../">Home</a> </p>

    </body>
  </html>
