
  * {
    color: blue;
    margin-left: 5px;
  }

  body {
    font-family: "Helvetica", sans-serif;
    padding-left: 10px;
  }

  .navbar {
    display: flex;
  }

  h5 {
    padding-right: 30px;
  }
